
.sidenav {
    width: 250px;
    background: #0f432b;
    height: auto;
    overflow-x: scroll; 
  }
  
  .toggle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    &:hover {
      cursor: pointer;
    }
  }
  
  .nav {
    .active-link {
      background-color: #000000;
      border-left: solid 3px #ffffff;
    }
  
    .hover {
      transition-duration: 400ms;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-property: transform, border, background-color;
    }
  
    mat-list-item,
    a {
      border: none;
      box-sizing: border-box;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        background-color: #000000;
        border-left: solid 3px #ffffff;
      }
    }
    mat-icon {
      color: #ffffff;
    }
  }
  