.sidenav {
  width: 100%;
  height: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
}

.toggle {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  
  &:hover {
    cursor: pointer;
  }
}

.toggle_icon {
  z-index: 999;
  right: 0;
  height: 24px;
  width: 24px;
  background: #464141;
  border-radius: 50%;
}

.nav {
  justify-content: center;

  .active-link {
    background-color: #000000;
    border-left: solid 3px #ffffff;
  }

  mat-list-item,
  a {
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    
    &:hover {
      cursor: pointer;
      background-color: #000000;
    }
  }

  mat-icon {
    color: #ffffff;
    height: 24px;
    width: 24px;
  }
}
