.formula-form-container {
  padding: 20px;
  display: flex;
  height: 90vh;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    mat-form-field {
      flex: 1;
      min-width: 200px;

      .mat-form-field-infix {
        padding: 8px 12px;
      }

      mat-label {
        font-weight: 500;
      }
    }
  }

  .ingredient-group {
    display: flex;
    gap: 16px;
    align-items: center;

    mat-form-field {
      flex: 1;
    }

    button {
      align-self: flex-end;
      margin-top: 16px;
    }
  }

  mat-card {
    margin-bottom: 16px;
    max-height: 400px; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  mat-card-title {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0;
    color: white;
  }

  mat-card-content {
    padding-top: 0;
  }

  .form-actions {
    padding: 16px 0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    button {
      min-width: 120px;
    }

    button:first-of-type {
      background: transparent;
      color: #333;
    }

    button:last-of-type {
      background-color: #3f51b5;
      color: #fff;

      &:hover {
        background-color: #303f9f;
      }
    }
  }
}
