<section class="subnav">
  <div>
    <button mat-button routerLink="bom-form">BOM Form</button>
    <button mat-button routerLink="ingredient-calculation">Ingredient Calculation</button>
    <button mat-button routerLink="ingredient-breakdown-without-moq">Ingredient Breakdown Without MOQ</button>
    <button mat-button routerLink="ingredient-breakdown-with-moq">Ingredient Breakdown With MOQ</button>
  </div>
</section>

<section class="nufacturing_bom">
<router-outlet></router-outlet>
</section>
