<div class="quotes-navigation">
    <h2>Quotes Summary</h2>
    <div class="metrics">
      <div class="metric">
        <span>Total Quotes</span>
        <span>{{ summaryMetrics.totalQuotes }}</span>
      </div>
      <div class="metric">
        <span>Active</span>
        <span>{{ summaryMetrics.active }}</span>
      </div>
      <div class="metric">
        <span>Expired</span>
        <span>{{ summaryMetrics.expired }}</span>
      </div>
    </div>
    <a routerLink="/quotes">Go to Quotes Page</a>
  </div>
  